/* #################### 全局 #################### */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

html, body {
    height: 100%;
}

#content {
    height: 100%;
    padding-left: 300px;
    background: #f9f7ed;
}

/* #################### 导航栏 #################### */
nav {
	width: 70%;
	margin: 0 auto;
}