/* #################### 全局 #################### */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

html, body {
    height: 100%;
	width: 100%;
	background-color: rgb(247, 247, 247) !important;
}
a {
	text-decoration: none;
}
/* #################### 顶部导航栏 #################### */
header {
	width: 100%;
	background-color: #fff !important;
	position: fixed;
	top: 0px;
	z-index: 999;
}
.header {
	width: 70%;
	margin: 0 auto;
}
.layui-layout-admin .layui-logo {
	color: #000 !important;
}
.layui-layout-admin .layui-header {
	background-color: #fff !important;
}
.layui-nav .layui-nav-item a {
	color: rgb(128, 128, 128) !important;
	text-decoration: none;
}
.layui-nav .layui-nav-item a:hover {
	background-color: #f0f0f0;
}
.layui-nav .layui-this:after, .layui-nav-bar, .layui-nav-tree .layui-nav-itemed:after {
	/* background-color: rgb(220, 220, 220) !important;*/
}
/* #################### 主体 #################### */
main {
	margin-top: 85px;
}
/* #################### 卡片 #################### */
article:hover {
	cursor: pointer;
}
.layui-card {
	border: 1px solid #ccc;
	width: 65%;
	margin: 0 auto;
	border-radius: 7px !important;
	margin-bottom: 20px !important;
}
.layui-card-header {
	font-family: "微软雅黑";
	font-size: 24px !important;
	height: 2em !important;
	margin-top: 5px !important;
}
.description {
	font-size: 12px;
	color: rgb(147, 147, 147);
}
.article-footer {
	width: 100%;
	font-family: "微软雅黑";
	color: #666;
}
.article-footer>span:first-child {
	
}
.article-footer>span:last-child {
	float: right;
}
/* #################### 回到顶部 #################### */
#backTop {
	position: fixed;
	right: 40px;
	bottom: 30px;
	background-color: #fff;
	height: 40px;
	width: 40px;
	line-height: 40px;
	text-align: center;
}