/* #################### 全局 #################### */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

html, body {
    height: 100%;
}

.main {
    height: 100%;
    background: rgb(247, 247, 247);
}
a {
	text-decoration: none;
}
/* #################### 顶部导航栏 #################### */
.layui-layout-admin .layui-logo {
	color: #000 !important;
}
.layui-layout-admin .layui-header {
	background-color: #fff !important;
}
.layui-nav .layui-nav-item a {
	color: rgb(128, 128, 128) !important;
	text-decoration: none;
}
.layui-nav .layui-nav-item a:hover {
	background-color: #f0f0f0;
}
.layui-card {
	border: 1px solid #ccc;
	width: 60%;
	text-aglin:center;
	margin: 0 auto;
}