<ul class="nav navbar-nav navbar-right">
	<% for ( menu in theme.menu ) { %>
		<li class="nav-item active">
			<a class="nav-link" href="<%- theme.menu[menu] %>"><%- menu %> <span class="sr-only">(current)</span></a>
		</li>
	<% } %>
</ul>