<ul id="menu">
    <!-- 内部链接本页面直接跳转 -->
    <% for ( menu in theme.menu ) { %>
    <li class="menu-item">
        <a href="<%- theme.menu[menu] %>" class="menu-item-link"><%- menu %></a>
    </li>
    <% } %>
</ul>